<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul>
    <% @categories.each do |category| %>
    <li><%= category.title  %></li>
    <div class="card">
      <ul id="<%= category.title %>" class='d-flex flex-column justify-content-around'>
          <% category.tasks.each do |task|  %>
          <li id="<%=task.id%>">
            <%= task.title  %>
            <% unless task.deadline.nil? %>, to read: <%= task.deadline.strftime('%D')  %>
            <% end %>
            <p>    </p>
            <%= link_to(content_tag(:i, nil, class: 'fa fa-trash'), task_path(task.id), method: :delete, remote: true) %>          
            <p>    </p>
            <%= check_box_tag :done, 1, task.status, id: task.id, data: { remote: true, url: task_path(task.id), params: {id: task.id, status: task.status}.to_param, method: "put" }%>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
