<h2 class="h1 mt-3 mb-4 ml-3 text-center">Edit the existing email here:</h2>
  <div class="container mt-5 form-group">
    <%= form_tag url_for(action: 'update'), method: "patch" do %>
    <% if @email.errors.any? %>
    <p class="alert alert-danger d-flex justify-content-center" role="alert"">The following error(s) ocurred:
      <% @email.errors.full_messages.each do |message| %>
        <%= message %></p>
      <% end %>
    <p>Re-send the form with the right informations</p>
  <% end %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <%= label_tag 'Change the object of the email:' %>
  <%= text_field_tag :object, @email.object, class:'form-control' %>
  <br /> <br />
  <%= label_tag 'Change the body of the gossip:' %>
  <%= text_area_tag :body, @email.body, class:'form-control' %>
    <br /> <br />
  <%= submit_tag "Edit the email", class:"btn btn-primary"%>
<% end %>
</div>